@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {

  font-size: 6px;

  @media screen(xs) {
    font-size: 8px;
  }
  @media screen(sm) {
    font-size: 10px;
  }
  @media screen(md) {
    font-size: 12px;
  }
  @media screen(lg) {
    font-size: 14px;
  }
  @media screen(xl) {
    font-size: 16px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: rgba(0, 0, 0, 0.99);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
